.carousel-item {
  display: flex;
  padding: 15px;
  flex-direction: column;
  justify-content: space-between;

  .image-box {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;

    display: flex;
    justify-content: center;

    a {
      img {
        height: auto;
        max-width: 100%;
        //aspect-ratio: 1/1;
      }
    }
  }

  .star-box {
    height: 20px;
    display: flex;
    margin-bottom: 5px;
  }

  .item-name {
    height: 38px;
    overflow: hidden;
    margin-bottom: 10px;
  }

  .bottom {
    gap: 0 10px;
    display: flex;
    flex-wrap: wrap;
    min-height: 38px;
    align-items: flex-start;
    flex-direction: column;
  }
}
