.container {
  padding: 15px 30px;
}
.h1Blue {
  font-size: 27px;
  color: #00275a;
}

.h2Black {
  font-size: 19px;
  color: black;
}

.h2Green {
  font-size: 19px;
  color: green;
  font-weight: bold;
}

.h3Black {
  font-size: 14px;
  color: black;
}

.h3DrakBlueBold {
  font-size: 14px;
  color: rgb(0, 39, 91);
  font-weight: bold;
}

.h3LightBlueBold {
  color: rgb(0, 148, 231);
  font-weight: bold;
  font-size: 19px;
}

.h4LightGray {
  font-size: 14px;
  color: rgb(182, 182, 182);
}

.h4BlackBold {
  font-size: 14px;
  color: black;
  font-weight: bold;
}
