.item {
  display: flex;
  padding: 15px;
  flex-direction: column;
  justify-content: space-between;

  background: linear-gradient(180deg, #f5f5f5 0, #fff 20px);
  margin: 10px;
  border: 1px solid #e8e8e8;
  float: left;
  position: relative;
  width: calc(20% - 20px);
  box-sizing: border-box;

  .image-box {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
    a {
      img {
        height: auto;
        max-width: 100%;
      }
    }
  }

  .star-box {
    height: 20px;
    display: flex;
    margin-bottom: 5px;
  }

  .item-name {
    height: 38px;
    overflow: hidden;
    margin-bottom: 10px;
  }

  .bottom {
    gap: 0 10px;
    display: flex;
    flex-wrap: wrap;
    min-height: 38px;
    flex-direction: column;

    justify-content: center;
    align-items: center;
  }

  .price-box {
    width: 100%;
    display: flex;
    gap: 10px;
    height: 80px;
    justify-content: space-between;
    margin: 15px 0 0;
    position: relative;

    .price-container {
      display: flex;
      flex-direction: column;
    }
    .buy-choises {
      max-height: 30px;
      border-color: #0094e7;
      border-radius: 4px;
      max-width: 90px;
    }
  }
}

@media (max-width: 1100px) {
  .item {
    width: calc(33% - 20px);
    .price-box {
      margin: 10px 0px;
    }
  }
}

@media (max-width: 769px) {
  .item {
    width: calc(50% - 20px);
  }
}

@media (max-width: 500px) {
  .item {
    width: calc(100% - 20px);
  }
}
