.carousel-container {
  display: flex;
  justify-content: center;
}

.slider {
  --items-per-screen: 5;
  --slider-index: 0;
  display: flex;
  flex-grow: 1;
  transform: translateX(
    calc(var(--slider-index) * - calc(100% / var(--items-per-screen)))
  );
  transition: transform 250ms ease-in-out;
  overflow: hidden;
}

.slider > div {
  flex: 0 0 calc(100% / var(--items-per-screen));
  max-width: calc(100% / var(--items-per-screen) - 52px);
  margin: 10px;
  display: flex;
  border: 1px solid #e8e8e8;
}

.handle {
  height: 120px;
  margin: auto;
  border: none;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: #0094e7;
  z-index: 10;
  cursor: pointer;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  line-height: 0;
  transition: background-color 100ms ease-in-out;
}

.right-handle,
.left-handle {
  border-radius: 4px;
}

.handle:hover {
  background-color: #00275b;
}

@media (max-width: 1000px) {
  .slider {
    --items-per-screen: 3;
  }
}

@media (max-width: 769px) {
  .slider {
    --items-per-screen: 2;
  }
}

@media (max-width: 500px) {
  .slider {
    --items-per-screen: 1;
  }
}
